Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_string = "Hello, World!"

In [3]:
my_string

'Hello, World!'

In [4]:
my_list = [1, 2, 3, "four", 5.0]

In [5]:
my_list

[1, 2, 3, 'four', 5.0]

In [6]:
my_float = 3.14159

In [7]:
my_float

3.14159

In [8]:
my_tuple = ("apple", "banana", "cherry")

In [9]:
my_tuple

('apple', 'banana', 'cherry')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.


The data types of the given variables are:

(i) var1 is a string data type.
(ii) var2 is also a string data type because it is enclosed in quotes.
(iii) var3 is a list data type.
(iv) var4 is a float data type.

Note that the square brackets in var2 are interpreted as characters within a string, not as a list. To create a list, the items should be separated by commas and enclosed in square brackets, as in var3.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / operator is the division operator in Python. It returns the quotient of the division operation as a float data type.
(ii) % operator is the modulo operator in Python. It returns the remainder of the division operation.
(iii) // operator is the floor division operator in Python. It returns the quotient of the division operation as an integer data type, rounded down to the nearest whole number.
(iv) ** operator is the exponentiation operator in Python. It returns the result of raising the left operand to the power of the right operand.

In [19]:
a=3
b=2
a/b

1.5

In [20]:
a%b

1

In [21]:
a//b

1

In [23]:
a**b

9

In [2]:
####4)Create a list of length 10 of your choice containing multiple types of data. 
###Using for loop print the element and its data type.

my_list = [1, "hello", 3.14, True, 'a', [1, 2, 3], {"name": "John", "age": 25}, None, (4, 5, 6), {7, 8, 9}]
for item in my_list:
    print(f"{item} is of type {type(item)}")

1 is of type <class 'int'>
hello is of type <class 'str'>
3.14 is of type <class 'float'>
True is of type <class 'bool'>
a is of type <class 'str'>
[1, 2, 3] is of type <class 'list'>
{'name': 'John', 'age': 25} is of type <class 'dict'>
None is of type <class 'NoneType'>
(4, 5, 6) is of type <class 'tuple'>
{8, 9, 7} is of type <class 'set'>

In [3]:
### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#### times it can be divisible.
# Taking input of two numbers
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

# Initializing a counter variable to count the number of times A is divisible by B
count = 0

# Checking if A is divisible by B
while A % B == 0:
    count += 1  # Incrementing the counter variable
    A = A / B   # Updating the value of A

# Printing the result
if count > 0:
    print(f"{A} is divisible by {B} for {count} times")
else:
    print(f"{A} is not divisible by {B}")

Enter number A:  20
Enter number B:  2

5.0 is divisible by 2 for 2 times

In [1]:
#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#### divisible by 3 or not.

# Creating a list of 25 integers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

# Using a for loop and if-else condition to check if each element is divisible by 3 or not
for item in my_list:
    if item % 3 == 0:
        print(f"{item} is divisible by 3")
    else:
        print(f"{item} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [3]:
### Q7. What do you understand about mutable and immutable data types? Give examples for both showing
## this property.
##Mutable data types are those that can be changed after they are created. 
##If you modify a mutable object, the original object is modified (without creating a new object).
##Examples of mutable data types include lists, sets, and dictionaries. Here's an example:

# Example of an immutable data type (integer)
a = 5
b = a  # creating a new reference to the same object
a = 10 # modifying a new object
print(a) # Output: 10
print(b) # Output: 5 (unchanged)

10
5

In this example, a is assigned the value of 5, which is an integer (an immutable data type). We then create a new reference to the same object by assigning it to b. After that, a is reassigned a new value of 10 (which creates a new object in memory). When we print a and b, we see that a is now 10, while b remains unchanged at 5.

Mutable data types are those that can be changed after they are created. If you modify a mutable object, the original object is modified (without creating a new object). Examples of mutable data types include lists, sets, and dictionaries. Here's an example:

In [7]:
# Example of a mutable data type (list)
lst = [1, 2, 3]
print(lst) # Output: [1, 2, 3]
lst.append(4)
print(lst) # Output: [1, 2, 3, 4] (modified)

[1, 2, 3]
[1, 2, 3, 4]